<?xml version="1.0" ?>
<DaemonParams>
	<mavlink_connection_string>/dev/ttyS0</mavlink_connection_string>
	<drone_system_id>1</drone_system_id>
	<drone_component_id>0</drone_component_id>
	<raspberry_pi_component_id>200</raspberry_pi_component_id>
	<base_station_system_id>255</base_station_system_id>
	<wifi_card_name>wlan0</wifi_card_name>
	<wifi_channel>11</wifi_channel>
	<beacon_period>1.0</beacon_period>
	<log_directory>/home/kali/logs/</log_directory>
	<serial_baud>115200</serial_baud>
</DaemonParams>
